@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="div1">
     this is div1 text
    </div>
    <div id="div2">This id div2 text</div>
    <input type="checkbox" id="check1" />
</body>
</html>

<script>
    (function () {
        if($('#check1').value())
        {
            $('#div1').show();
            $('#div2').hide();
        }
        else
        {
            $('#div1').hide();
            $('#div2').show();
        }
    });
</script>
